<!DOCTYPE html>
<html 
    xmlnf = "http://wwww.w3.org/1999/xhtml" 
    xmlns:th="http://wwww.thymeleaf.org" 
    lang="pt">
<head>
    <!-- por causa do thymeleaf precisa fechar as tag simples como "meta"-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"/>
    <title>Lista de Marcas</title>
</head>
<body>
    <div class="container" id = "tabela-marcas"></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>nome</th>
                <th colspan="2">ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="marca : ${marcas}">
                <td th:text = "${marca.id}"></td>
                <td th:text = "${marca.nome}"></td>                
                <td>editar</td>
                <td>remover</td>
            </tr>
        </tbody>
    </table>   
</body>
</html>